# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
public/HEADER_FINALE.mp4
.vercel
.env*.local
.env

# Supabase temp
supabase/.temp

# Internal docs
fixes.md
fixes_client.md
fixes_client.pdf
fixes_italian.md
